# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from datetime import date
import numpy as np

WARNING:tensorflow:From C:\Users\daniy\anaconda3\envs\dev\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(["EIN", "NAME"], axis=1)

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

C:\Users\daniy\anaconda3\envs\dev\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
numerical_df = applicant_data_df.drop(columns = categorical_variables)
numerical_df

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

encoded_df2 = pd.concat([numerical_df, encoded_df], axis=1)

# Review the Dataframe

encoded_df2

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df2["IS_SUCCESSFUL"]

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df2.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 4

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [19]:
# Create the Sequential model instance
nn = Sequential()

WARNING:tensorflow:From C:\Users\daniy\anaconda3\envs\dev\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8527 (33.31 KB)
Trainable params: 8527 (33.31 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\daniy\anaconda3\envs\dev\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [25]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\daniy\anaconda3\envs\dev\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\daniy\anaconda3\envs\dev\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 2s 949us/step - loss: 67816.1641 - accuracy: 0.4988
Epoch 2/100
804/804 [==============================] - 1s 924us/step - loss: 39134.2305 - accuracy: 0.4984
Epoch 3/100
804/804 [==============================] - 1s 908us/step - loss: 19986.0293 - accuracy: 0.5134
Epoch 4/100
804/804 [==============================] - 1s 894us/step - loss: 19264.8711 - accuracy: 0.4840
Epoch 5/100
804/804 [==============================] - 1s 961us/step - loss: 27947.3242 - accuracy: 0.5095
Epoch 6/100
804/804 [==============================] - 1s 953us/step - loss: 29199.0254 - accuracy: 0.5113
Epoch 7/100
804/804 [==============================] - 1s 986us/step - loss: 6118.7759 - accuracy: 0.5049
Epoch 8/100
804/804 [==============================] - 1s 915us/step - loss: 15140.4307 - accuracy: 0.5105
Epoch 9/100
804/804 [==============================] - 1s 929us/step - loss: 16220.5557 - accuracy: 0.4983
Epoch 10/100
804/804 [==============================] - 1s 903us/step - loss: 9385.2314 - accuracy: 0.5273
Epoch 11/100
804/804 [==============================] - 1s 977us/step - loss: 14845.7666 - accuracy: 0.5031
Epoch 12/100
804/804 [==============================] - 1s 894us/step - loss: 3720.3733 - accuracy: 0.5224
Epoch 13/100
804/804 [==============================] - 1s 918us/step - loss: 2762.4622 - accuracy: 0.5167
Epoch 14/100
804/804 [==============================] - 1s 951us/step - loss: 2949.8662 - accuracy: 0.5164
Epoch 15/100
804/804 [==============================] - 1s 918us/step - loss: 671.3145 - accuracy: 0.5297
Epoch 16/100
804/804 [==============================] - 1s 932us/step - loss: 3408.0496 - accuracy: 0.5247
Epoch 17/100
804/804 [==============================] - 1s 981us/step - loss: 56.3095 - accuracy: 0.5381
Epoch 18/100
804/804 [==============================] - 1s 955us/step - loss: 140.3854 - accuracy: 0.5246
Epoch 19/100
804/804 [==============================] - 1s 914us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 20/100
804/804 [==============================] - 1s 937us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 21/100
804/804 [==============================] - 1s 961us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 22/100
804/804 [==============================] - 1s 950us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 24/100
804/804 [==============================] - 1s 913us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 25/100
804/804 [==============================] - 1s 987us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 26/100
804/804 [==============================] - 1s 960us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 28/100
804/804 [==============================] - 1s 995us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 29/100
804/804 [==============================] - 1s 939us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 31/100
804/804 [==============================] - 1s 976us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 32/100
804/804 [==============================] - 1s 991us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 34/100
804/804 [==============================] - 1s 960us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 35/100
804/804 [==============================] - 1s 950us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 36/100
804/804 [==============================] - 1s 978us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 37/100
804/804 [==============================] - 1s 976us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 38/100
804/804 [==============================] - 1s 959us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 39/100
804/804 [==============================] - 1s 984us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 40/100
804/804 [==============================] - 1s 933us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 41/100
804/804 [==============================] - 1s 907us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 42/100
804/804 [==============================] - 1s 945us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 43/100
804/804 [==============================] - 1s 968us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 44/100
804/804 [==============================] - 1s 928us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 45/100
804/804 [==============================] - 1s 989us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 46/100
804/804 [==============================] - 1s 938us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 47/100
804/804 [==============================] - 1s 939us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 48/100
804/804 [==============================] - 1s 925us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 49/100
804/804 [==============================] - 1s 920us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 50/100
804/804 [==============================] - 1s 913us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 51/100
804/804 [==============================] - 1s 985us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 52/100
804/804 [==============================] - 1s 1000us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 56/100
804/804 [==============================] - 1s 991us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 57/100
804/804 [==============================] - 1s 937us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 58/100
804/804 [==============================] - 1s 913us/step - loss: 0.6912 - accuracy: 0.5335
Epoch 59/100
804/804 [==============================] - 1s 899us/step - loss: 0.6913 - accuracy: 0.5335
Epoch 60/100
804/804 [==============================] - 1s 918us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 61/100
804/804 [==============================] - 1s 928us/step - loss: 0.6912 - accuracy: 0.5314
Epoch 62/100
804/804 [==============================] - 1s 975us/step - loss: 0.6912 - accuracy: 0.5335
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 66/100
804/804 [==============================] - 1s 994us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 67/100
804/804 [==============================] - 1s 974us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 68/100
804/804 [==============================] - 1s 927us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5335
Epoch 71/100
804/804 [==============================] - 1s 933us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 72/100
804/804 [==============================] - 1s 968us/step - loss: 0.6912 - accuracy: 0.5335
Epoch 73/100
804/804 [==============================] - 1s 911us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 74/100
804/804 [==============================] - 1s 966us/step - loss: 0.6912 - accuracy: 0.5335
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 76/100
804/804 [==============================] - 1s 982us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5335
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5335
Epoch 79/100
804/804 [==============================] - 1s 954us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 80/100
804/804 [==============================] - 1s 964us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 81/100
804/804 [==============================] - 1s 948us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 82/100
804/804 [==============================] - 1s 953us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 83/100
804/804 [==============================] - 1s 991us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 84/100
804/804 [==============================] - 1s 983us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 85/100
804/804 [==============================] - 1s 956us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 86/100
804/804 [==============================] - 1s 959us/step - loss: 0.6912 - accuracy: 0.5335
Epoch 87/100
804/804 [==============================] - 1s 966us/step - loss: 0.6912 - accuracy: 0.5335
Epoch 88/100
804/804 [==============================] - 1s 938us/step - loss: 0.6911 - accuracy: 0.5329
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 90/100
804/804 [==============================] - 1s 962us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 92/100
804/804 [==============================] - 1s 986us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 93/100
804/804 [==============================] - 1s 926us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 94/100
804/804 [==============================] - 1s 984us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 96/100
804/804 [==============================] - 1s 953us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 97/100
804/804 [==============================] - 1s 939us/step - loss: 0.6911 - accuracy: 0.5335
Epoch 98/100
804/804 [==============================] - 1s 937us/step - loss: 0.6912 - accuracy: 0.5335
Epoch 99/100
804/804 [==============================] - 1s 956us/step - loss: 0.6912 - accuracy: 0.5335
Epoch 100/100
804/804 [==============================] - 1s 958us/step - loss: 0.6912 - accuracy: 0.5335

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6891 - accuracy: 0.6921 - 324ms/epoch - 1ms/step
Loss: 0.6890837550163269, Accuracy: 0.6921283006668091

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
nn_json = nn.to_json()
file_path = "model_json"

# Export your model to a HDF5 file
with open(file_path, "w") as json_file:
    json_file.write(nn_json)
file_path = "model.h5"
nn.save_weights(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [50]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [51]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + 1) // 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

29

In [52]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = (hidden_nodes_layer2_A1 + 1) // 2

# Review the number of hidden nodes in the third layer
hidden_nodes_layer3_A1

15

In [53]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [57]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim = number_input_features, activation="relu"))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation = "relu"))
                
# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 58)                3422

 dense_5 (Dense)             (None, 29)                1711

 dense_6 (Dense)             (None, 1)                 30

=================================================================
Total params: 11949 (46.68 KB)
Trainable params: 11949 (46.68 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [58]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [59]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 999us/step - loss: 0.5737 - accuracy: 0.7210
Epoch 2/50
804/804 [==============================] - 1s 918us/step - loss: 0.5522 - accuracy: 0.7306
Epoch 3/50
804/804 [==============================] - 1s 983us/step - loss: 0.5481 - accuracy: 0.7325
Epoch 4/50
804/804 [==============================] - 1s 961us/step - loss: 0.5467 - accuracy: 0.7325
Epoch 5/50
804/804 [==============================] - 1s 942us/step - loss: 0.5453 - accuracy: 0.7345
Epoch 6/50
804/804 [==============================] - 1s 960us/step - loss: 0.5440 - accuracy: 0.7332
Epoch 7/50
804/804 [==============================] - 1s 983us/step - loss: 0.5433 - accuracy: 0.7350
Epoch 8/50
804/804 [==============================] - 1s 944us/step - loss: 0.5424 - accuracy: 0.7351
Epoch 9/50
804/804 [==============================] - 1s 914us/step - loss: 0.5414 - accuracy: 0.7358
Epoch 10/50
804/804 [==============================] - 1s 981us/step - loss: 0.5408 - accuracy: 0.7373
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7362
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7366
Epoch 13/50
804/804 [==============================] - 1s 993us/step - loss: 0.5397 - accuracy: 0.7368
Epoch 14/50
804/804 [==============================] - 1s 991us/step - loss: 0.5392 - accuracy: 0.7381
Epoch 15/50
804/804 [==============================] - 1s 997us/step - loss: 0.5387 - accuracy: 0.7381
Epoch 16/50
804/804 [==============================] - 1s 956us/step - loss: 0.5383 - accuracy: 0.7388
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7383
Epoch 18/50
804/804 [==============================] - 1s 989us/step - loss: 0.5377 - accuracy: 0.7388
Epoch 19/50
804/804 [==============================] - 1s 945us/step - loss: 0.5373 - accuracy: 0.7380
Epoch 20/50
804/804 [==============================] - 1s 961us/step - loss: 0.5368 - accuracy: 0.7388
Epoch 21/50
804/804 [==============================] - 1s 927us/step - loss: 0.5366 - accuracy: 0.7392
Epoch 22/50
804/804 [==============================] - 1s 949us/step - loss: 0.5364 - accuracy: 0.7393
Epoch 23/50
804/804 [==============================] - 1s 915us/step - loss: 0.5360 - accuracy: 0.7394
Epoch 24/50
804/804 [==============================] - 1s 934us/step - loss: 0.5359 - accuracy: 0.7395
Epoch 25/50
804/804 [==============================] - 1s 965us/step - loss: 0.5357 - accuracy: 0.7396
Epoch 26/50
804/804 [==============================] - 1s 931us/step - loss: 0.5350 - accuracy: 0.7398
Epoch 27/50
804/804 [==============================] - 1s 940us/step - loss: 0.5351 - accuracy: 0.7394
Epoch 28/50
804/804 [==============================] - 1s 954us/step - loss: 0.5345 - accuracy: 0.7395
Epoch 29/50
804/804 [==============================] - 1s 954us/step - loss: 0.5346 - accuracy: 0.7402
Epoch 30/50
804/804 [==============================] - 1s 926us/step - loss: 0.5340 - accuracy: 0.7404
Epoch 31/50
804/804 [==============================] - 1s 936us/step - loss: 0.5343 - accuracy: 0.7411
Epoch 32/50
804/804 [==============================] - 1s 947us/step - loss: 0.5334 - accuracy: 0.7407
Epoch 33/50
804/804 [==============================] - 1s 941us/step - loss: 0.5337 - accuracy: 0.7405
Epoch 34/50
804/804 [==============================] - 1s 955us/step - loss: 0.5336 - accuracy: 0.7409
Epoch 35/50
804/804 [==============================] - 1s 935us/step - loss: 0.5331 - accuracy: 0.7403
Epoch 36/50
804/804 [==============================] - 1s 997us/step - loss: 0.5331 - accuracy: 0.7412
Epoch 37/50
804/804 [==============================] - 1s 948us/step - loss: 0.5330 - accuracy: 0.7405
Epoch 38/50
804/804 [==============================] - 1s 966us/step - loss: 0.5328 - accuracy: 0.7417
Epoch 39/50
804/804 [==============================] - 1s 973us/step - loss: 0.5320 - accuracy: 0.7410
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7416
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7402
Epoch 42/50
804/804 [==============================] - 1s 978us/step - loss: 0.5320 - accuracy: 0.7404
Epoch 43/50
804/804 [==============================] - 1s 991us/step - loss: 0.5317 - accuracy: 0.7412
Epoch 44/50
804/804 [==============================] - 1s 911us/step - loss: 0.5319 - accuracy: 0.7416
Epoch 45/50
804/804 [==============================] - 1s 974us/step - loss: 0.5318 - accuracy: 0.7415
Epoch 46/50
804/804 [==============================] - 1s 925us/step - loss: 0.5315 - accuracy: 0.7414
Epoch 47/50
804/804 [==============================] - 1s 930us/step - loss: 0.5316 - accuracy: 0.7413
Epoch 48/50
804/804 [==============================] - 1s 934us/step - loss: 0.5310 - accuracy: 0.7419
Epoch 49/50
804/804 [==============================] - 1s 938us/step - loss: 0.5307 - accuracy: 0.7418
Epoch 50/50
804/804 [==============================] - 1s 922us/step - loss: 0.5311 - accuracy: 0.7417

#### Alternative Model 2

In [60]:
# Import the PCA module
from sklearn.decomposition import PCA

In [63]:
pca = PCA(n_components=5)

In [65]:
# Fit the PCA model on the transformed X Dataframe
X_pca = pca.fit_transform(X)

# Review the first 5 rows of list data
X_pca

array([[-2.76419868e+06,  7.68473955e-01,  1.52006733e+00,
        -4.19430534e-02, -4.17524460e-01],
       [-2.66060868e+06, -4.89093049e-01, -6.85190533e-02,
         7.92026618e-01,  5.12325874e-01],
       [-2.76419868e+06,  1.90379059e+00,  7.09124834e-01,
         6.27628628e-01, -9.63403883e-02],
       ...,
       [-2.76419868e+06,  1.03618491e+00, -8.71669934e-01,
         2.89686717e-01,  8.91460018e-02],
       [-2.76419868e+06,  1.00500151e+00,  1.32356428e+00,
         9.59671297e-01, -3.88313395e-01],
       [ 3.37309803e+07, -5.90727924e-01,  4.48219807e-01,
        -3.84229832e-01,  5.32608807e-01]])

In [67]:
# Calculate the PCA explained variance ratio

pca.explained_variance_ratio_

array([1.00000000e+00, 1.04943304e-16, 5.60010251e-17, 3.87723704e-17,
       3.07028663e-17])

In [73]:
# Create the PCA DataFrame
X_pca = pd.DataFrame(
    X_pca,
    columns=["PCA1", "PCA2", "PCA3", "PCA4", "PCA5"]
)

# Review the PCA DataFrame
X_pca.head()

           PCA1      PCA2      PCA3      PCA4      PCA5
0 -2.764199e+06  0.768474  1.520067 -0.041943 -0.417524
1 -2.660609e+06 -0.489093 -0.068519  0.792027  0.512326
2 -2.764199e+06  1.903791  0.709125  0.627629 -0.096340
3 -2.762507e+06  0.001870 -0.765432  0.510242  0.623390
4 -2.626609e+06 -0.836528  0.825183 -0.092681  0.544101

In [74]:
X_pca_train, X_pca_test, y_train, y_test = train_test_split(X_pca, y, random_state=1)

In [75]:
X_pca_train

               PCA1      PCA2      PCA3      PCA4      PCA5
10679 -2.764199e+06  1.038747 -0.922759  0.029135  0.140390
5052  -2.764199e+06  0.038655  0.995658  1.390449 -0.766175
9990  -2.764199e+06 -0.794412  0.185570 -0.435045 -0.495506
25173 -2.764199e+06 -0.695409 -0.334245  0.736996 -0.510060
11405 -2.764199e+06  1.224321  0.094358 -0.802441  0.023987
...             ...       ...       ...       ...       ...
7813  -2.764199e+06  0.210706 -0.892536  0.015456 -0.188468
32511 -2.764199e+06  1.005002  1.323564  0.959671 -0.388313
5192  -2.764199e+06  1.036185 -0.871670  0.289687  0.089146
12172 -2.764199e+06  1.036185 -0.871670  0.289687  0.089146
33003 -2.764199e+06  1.467593 -0.081525  0.212248  0.023179

[25724 rows x 5 columns]

In [78]:
# Create a StandardScaler instance
scaler_pca = StandardScaler()

# Fit the scaler to the features training dataset
X_pca_scaler = scaler_pca.fit(X_pca_train)

# Fit the scaler to the features training dataset
X_pca_train_scaled = X_pca_scaler.transform(X_pca_train)
X_pca_test_scaled = X_pca_scaler.transform(X_pca_test)

In [79]:
# Define the number of inputs (features) to the model
number_input_features = len(X_pca.iloc[0])

# Review the number of features
number_input_features

5

In [80]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [81]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

3

In [83]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [86]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A2, activation = "relu"))
          
# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 3)                 18

 dense_9 (Dense)             (None, 1)                 4

=================================================================
Total params: 22 (88.00 Byte)
Trainable params: 22 (88.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [88]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [89]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_pca_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 753us/step - loss: 0.6473 - accuracy: 0.6545
Epoch 2/50
804/804 [==============================] - 1s 748us/step - loss: 0.6248 - accuracy: 0.6876
Epoch 3/50
804/804 [==============================] - 1s 740us/step - loss: 0.6179 - accuracy: 0.6941
Epoch 4/50
804/804 [==============================] - 1s 728us/step - loss: 0.6162 - accuracy: 0.6924
Epoch 5/50
804/804 [==============================] - 1s 729us/step - loss: 0.6148 - accuracy: 0.6910
Epoch 6/50
804/804 [==============================] - 1s 716us/step - loss: 0.6128 - accuracy: 0.6890
Epoch 7/50
804/804 [==============================] - 1s 735us/step - loss: 0.6112 - accuracy: 0.6897
Epoch 8/50
804/804 [==============================] - 1s 751us/step - loss: 0.6106 - accuracy: 0.6894
Epoch 9/50
804/804 [==============================] - 1s 726us/step - loss: 0.6100 - accuracy: 0.6911
Epoch 10/50
804/804 [==============================] - 1s 767us/step - loss: 0.6097 - accuracy: 0.6910
Epoch 11/50
804/804 [==============================] - 1s 720us/step - loss: 0.6090 - accuracy: 0.6882
Epoch 12/50
804/804 [==============================] - 1s 713us/step - loss: 0.6084 - accuracy: 0.6874
Epoch 13/50
804/804 [==============================] - 1s 715us/step - loss: 0.6080 - accuracy: 0.6874
Epoch 14/50
804/804 [==============================] - 1s 707us/step - loss: 0.6077 - accuracy: 0.6876
Epoch 15/50
804/804 [==============================] - 1s 716us/step - loss: 0.6075 - accuracy: 0.6877
Epoch 16/50
804/804 [==============================] - 1s 721us/step - loss: 0.6074 - accuracy: 0.6876
Epoch 17/50
804/804 [==============================] - 1s 718us/step - loss: 0.6073 - accuracy: 0.6895
Epoch 18/50
804/804 [==============================] - 1s 724us/step - loss: 0.6070 - accuracy: 0.6892
Epoch 19/50
804/804 [==============================] - 1s 711us/step - loss: 0.6068 - accuracy: 0.6884
Epoch 20/50
804/804 [==============================] - 1s 707us/step - loss: 0.6066 - accuracy: 0.6889
Epoch 21/50
804/804 [==============================] - 1s 727us/step - loss: 0.6064 - accuracy: 0.6891
Epoch 22/50
804/804 [==============================] - 1s 718us/step - loss: 0.6060 - accuracy: 0.6880
Epoch 23/50
804/804 [==============================] - 1s 715us/step - loss: 0.6054 - accuracy: 0.6846
Epoch 24/50
804/804 [==============================] - 1s 726us/step - loss: 0.6048 - accuracy: 0.6864
Epoch 25/50
804/804 [==============================] - 1s 728us/step - loss: 0.6043 - accuracy: 0.6859
Epoch 26/50
804/804 [==============================] - 1s 715us/step - loss: 0.6037 - accuracy: 0.6890
Epoch 27/50
804/804 [==============================] - 1s 760us/step - loss: 0.6033 - accuracy: 0.6897
Epoch 28/50
804/804 [==============================] - 1s 718us/step - loss: 0.6027 - accuracy: 0.6901
Epoch 29/50
804/804 [==============================] - 1s 720us/step - loss: 0.6018 - accuracy: 0.6894
Epoch 30/50
804/804 [==============================] - 1s 711us/step - loss: 0.6015 - accuracy: 0.6890
Epoch 31/50
804/804 [==============================] - 1s 718us/step - loss: 0.6011 - accuracy: 0.6892
Epoch 32/50
804/804 [==============================] - 1s 771us/step - loss: 0.6007 - accuracy: 0.6876
Epoch 33/50
804/804 [==============================] - 1s 740us/step - loss: 0.6002 - accuracy: 0.6882
Epoch 34/50
804/804 [==============================] - 1s 762us/step - loss: 0.5998 - accuracy: 0.6877
Epoch 35/50
804/804 [==============================] - 1s 730us/step - loss: 0.5994 - accuracy: 0.6914
Epoch 36/50
804/804 [==============================] - 1s 724us/step - loss: 0.5991 - accuracy: 0.6913
Epoch 37/50
804/804 [==============================] - 1s 748us/step - loss: 0.5989 - accuracy: 0.6919
Epoch 38/50
804/804 [==============================] - 1s 748us/step - loss: 0.5987 - accuracy: 0.6899
Epoch 39/50
804/804 [==============================] - 1s 720us/step - loss: 0.5985 - accuracy: 0.6916
Epoch 40/50
804/804 [==============================] - 1s 743us/step - loss: 0.5983 - accuracy: 0.6906
Epoch 41/50
804/804 [==============================] - 1s 725us/step - loss: 0.5982 - accuracy: 0.6922
Epoch 42/50
804/804 [==============================] - 1s 744us/step - loss: 0.5981 - accuracy: 0.6936
Epoch 43/50
804/804 [==============================] - 1s 728us/step - loss: 0.5980 - accuracy: 0.6912
Epoch 44/50
804/804 [==============================] - 1s 727us/step - loss: 0.5979 - accuracy: 0.6931
Epoch 45/50
804/804 [==============================] - 1s 726us/step - loss: 0.5979 - accuracy: 0.6960
Epoch 46/50
804/804 [==============================] - 1s 726us/step - loss: 0.5977 - accuracy: 0.6976
Epoch 47/50
804/804 [==============================] - 1s 740us/step - loss: 0.5975 - accuracy: 0.6979
Epoch 48/50
804/804 [==============================] - 1s 735us/step - loss: 0.5976 - accuracy: 0.7006
Epoch 49/50
804/804 [==============================] - 1s 731us/step - loss: 0.5975 - accuracy: 0.7000
Epoch 50/50
804/804 [==============================] - 1s 729us/step - loss: 0.5974 - accuracy: 0.6996

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [90]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6891 - accuracy: 0.6921 - 179ms/epoch - 669us/step
Loss: 0.6890837550163269, Accuracy: 0.6921283006668091

In [91]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 4.9116 - accuracy: 0.4708 - 286ms/epoch - 1ms/step
Loss: 4.911592960357666, Accuracy: 0.4707871675491333

In [92]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_pca_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5953 - accuracy: 0.6970 - 233ms/epoch - 869us/step
Loss: 0.5952895283699036, Accuracy: 0.697026252746582

### Step 3: Save each of your alternative models as an HDF5 file.

In [93]:
# Set the file path for the first alternative model
file_path = "./Resources/AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save_weights(file_path)

In [96]:
# Set the file path for the second alternative model
file_path = "./Resources/AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save_weights(file_path)